.cart-container {
  z-index: 1003;
  position: fixed;
  right: -600px;
  height: 100vh;
  width: 100%;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  transition: right 0.5s;

  .close-cart-btn {
    margin: 1em 1em 1em auto;
    width: 2em;
    cursor: pointer;

    &:hover {
      color: rgb(164, 0, 0);
    }
  }

  .cart-content {
    width: 95%;
    margin: 0 auto;
    overflow-y: scroll;

    h1 {
      text-align: center;
    }

    .item {
      border-top: 1px solid rgb(75, 75, 75);
      padding: 1em 1em;
      display: flex;
      gap: 0.5em;
      position: relative;

      .delete-item-btn {
        position: absolute;
        right: 1.2em;
        width: 1.2em;
        cursor: pointer;

        &:hover {
          color: rgb(164, 0, 0);
        }
      }

      img {
        max-width: 30%;
        object-fit: cover;
      }

      .item-details {
        position: relative;
        display: flex;
        flex-direction: column;

        h4 {
          font-weight: 500;
          margin: 0 0 1em 0;
        }

        .item-name {
          font-weight: 700;
        }

        .quantity-wrapper {
          min-height: 2em;
          display: flex;
          align-items: center;
          width: 5em;
          justify-content: space-evenly;
          border: 1px solid #313232;
          background-color: #fefefe;
          font-size: 0.9rem;
          margin-top: auto;

          .quantity-button {
            background-color: #fefefe;
            border: none;
            cursor: pointer;
          }

          .quantity-button.minus {
            color: rgb(207, 207, 207);
          }

          .quantity-value {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
    .checkout-wrapper {
      font-size: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2em;

      button {
        font-family: inherit;
        width: 40%;
        height: 2em;
        font-size: 1.1rem;
        border: none;
        color: #e3e3e3;
        background-color: #5da271;
        cursor: pointer;

        &:hover {
          background-color: #437d53;
        }
      }
    }
  }
}

.cart-container.active {
  right: 0;
}

@media screen and (min-width: 520px) {
  .cart-container {
    width: 520px;
  }
}

@media screen and (max-width: 320px) {
  .cart-container {
    .cart-content {
      .item {
        img {
          display: none;
        }
        .item-details {
          margin-top: 1.4em;

          h4 {
            margin-bottom: 0.4em;
          }
        }
      }
    }
  }
}
