.item-card {
  width: clamp(160px, 20%, 40%);
  border: 0.0625rem solid #dedede;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .heart-icon-wrapper {
    position: relative;
    z-index: 2;

    .heart-icon {
      color: red;
      position: absolute;
      left: 0.2em;
      top: 0.2em;
      cursor: pointer;
    }
  }

  img {
    user-select: none;
    width: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  .item-info {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fefefe;
    color: #313232;
    padding-top: 0.5em;

    a {
      text-decoration: none;
    }

    .item-name {
      text-decoration: none;
      color: #437652;
      font-weight: 600;
      margin-bottom: 0.3em;
      cursor: pointer;
    }

    .item-name,
    .item-price {
      font-size: 1em;
    }

    .add-to-cart-wrapper {
      display: flex;
      width: 100%;
      margin-top: 1em;

      .quantity-wrapper {
        flex: 1;
        min-height: 2.5em;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border: 1px solid #313232;
        background-color: #fefefe;
        font-size: 0.9rem;

        .quantity-button {
          background-color: #fefefe;
          border: none;
          cursor: pointer;
        }

        .quantity-button.minus {
          color: rgb(207, 207, 207);
        }

        .quantity-value {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .add-to-cart-btn {
        padding: 0.3em 0;
        flex: 3;
        font-family: inherit;
        background-color: #313232;
        border: none;
        color: #fff;
        font-size: 1rem;
        font-weight: 500;
        transition: all 0.2s;

        &:hover {
          cursor: pointer;
          background-color: #437652;
        }
      }
    }
  }
}

@media screen and (max-width: 335px) {
  .item-card {
    width: 80%;
  }
}
