@import "../../variables";

.home-container {
  h3 {
    color: $primary-color;
    font-size: 2.3rem;
    font-weight: 500;
    margin-top: 2em;
    text-align: center;
  }

  .why-us-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0px;
    font-size: 1.8rem;
    text-align: center;
    color: $dark-color;

    h3 {
      color: $primary-color;
      font-size: 2.3rem;
      font-weight: 500;
      margin-top: 0;
    }

    .promise-wrapper {
      .promise {
        margin-top: 1em;
        p {
          font-size: 1.1rem;
          line-height: 1.4;
          margin: 0;
          padding: 0.5em 2em 0 2em;
        }
      }
    }
  }

  .unkillable-plants-intro,
  .petsafe-plants-intro {
    margin: 0 auto;
    color: #313232;

    img {
      height: 14em;
      width: 100%;
      object-fit: cover;
    }

    .intro-wrapper {
      text-align: center;
      padding: 0.5em 1em;

      p {
        font-size: 1.1rem;
        line-height: 1.4;
        margin: 0 0 1em 0;
      }

      button {
        color: #e3e3e3;
        background-color: $primary-color;
        border: none;
        cursor: pointer;
        font-family: inherit;
        font-size: 1rem;
        font-weight: 700;
        padding: 0.6em 2em;
        width: fit-content;
        margin-bottom: 1em;

        &:hover {
          background-color: $secondary-color;
        }
      }
    }
  }
}

@media screen and (min-width: 700px) {
  .home-container {
    .why-us-container {
      .promise-wrapper {
        display: flex;
        max-width: $max-width;
      }
    }
  }
}

@media screen and (min-width: 780px) {
  .home-container {
    .unkillable-plants-intro {
      display: flex;
      max-width: $max-width;
      margin: 0 auto;

      img {
        height: 31em;
        flex: 1;
        width: 50%;
        order: 2;
      }

      .intro-wrapper {
        text-align: end;
        width: 50%;
        padding: 5em 2em 2em 2em;
      }
    }

    .petsafe-plants-intro {
      display: flex;
      max-width: $max-width;
      margin: 0 auto 3em;

      img {
        height: 31em;
        width: 50%;
        flex: 1;
      }

      .intro-wrapper {
        width: 50%;
        text-align: left;
        padding: 5em 2em 2em 2em;
      }
    }
  }
}
