.why-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 3em 0px;
  font-size: 1.8rem;
  text-align: center;
  color: #313232;

  h3 {
    font-size: 2.3rem;
    font-weight: 500;
    margin-top: 0;
  }

  .promise-wrapper {
    .promise {
      margin-bottom: 1em;
      p {
        font-size: 1.1rem;
        line-height: 1.4;
        margin: 0;
        padding: 0.5em 2em;
      }
    }
  }
}

@media screen and (min-width: 700px) {
  .why-us-container {
    .promise-wrapper {
      display: flex;
      max-width: 1200px;
    }
  }
}
